@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
<div class="form-group">
    <label for="search" class="control-label"></label>
    <input name="keyword" id="keyword" class="form-control" />
</div>
